---
layout: shriblets
---
<!--dear god can we use data for this... also cheers for having learned about page-specific data, the layout is unnecessary too but I'll fiddle with that later-->
{%include shriblet.html
	title="heighthell"
	date="2018-08"
	desc="Interactive character height chart, heavily inspired by <a href='http://mxedk.com/pokechamp/'>a version with Pokémon player characters</a>, and one of my first experiments with Javascript. (Could not figure out how to make the characters stand separately on pageload without altering the draggable area, and the toggles are buggy.)"
	lang="#js #jquery"
	mobile="false"
%}{%include shriblet.html
	title="headshots"
	date="2018-12-14"
	desc="Assorted characters and an overview of the stories they’re from. (There are names and one-sentence descriptions in the code, but I never figured out how to make the varying line lengths not break the layout.)"
	lang="#html #css"
	mobile="true"
%}{%include shriblet.html
	title="songwall"
	date="2019-03-06"
	desc="Character song page; art and mobile layout are unfinished but code is functional."
	lang="#html #css"
	mobile="true"
%}{%include shriblet.html
	title="wiki"
	date="2019-05"
	desc="Pseudo-wiki page that doubles as a character bio-infodump-gallery."
	lang="#html #css"
	mobile="true"
%}{%include shriblet.html
	title="type"
	date="2019-05-29"
	desc="Attempt at creating a typewriter-esque effect with pure HTML/CSS."
	lang="#html #css"
	mobile="true"
%}{%include shriblet.html
	title="feltron"
	date="2019-09-19"
	desc="A page of <a href='http://feltron.com/FAR07.html'>Nicholas Feltron’s 2007 Annual Report</a>, but as a HTML page. Experimenting with CSS grid."
	lang="#html #css"
	mobile="true"
%}<article><!--tfw I gotta use the raw code for that one (1) "."-->
	<figure><a href="{{site.url}}/shriblets/2019-12-05-404mp3"><img src="{{site.url}}/shriblets/img/2019-12-05-404mp3.jpg" alt=""/></a></figure>
	<div class="info">
		<h2><a href="{{site.url}}/shriblets/2019-12-05-404mp3">404.mp3</a></h2> <span class="date">2019-12-05</span>
		<p>Esoteric character song page.</p>
		<aside><ul>
			<li>lang = #html #css</li>
			<li>isResponsive = true;</li>
		</ul></aside>
</div></article><article><!--also here, for the "+"-->
	<figure><a href="{{site.url}}/shriblets/2020-04-1112-walkcycles"><img src="{{site.url}}/shriblets/img/2020-04-1112-walkcycles.jpg" alt=""/></a></figure>
	<div class="info">
		<h2><a href="{{site.url}}/shriblets/2020-04-1112-walkcycles">walkcycles</a></h2> <span class="date">2020-04-11+12</span>
		<p>Fiddling with CSS animations.</p>
		<aside><ul>
			<li>lang = #html #css;</li>
			<li>isResponsive = false;</li>
		</ul></aside>
</div></article>{%include shriblet.html
	title="art"
	date="2020-06-07"
	desc="Something of a portfolio page. Unfinished-ish; layout looks best single-column but widescreen doesn’t break."
	lang="#html #css"
	mobile="true"
%}{%include shriblet.html
	title="split"
	date="2021-04-29"
	desc="An <a href='../blog/addition-update'>exploration</a> of parallel dysfunction, in the format of divided HTML frames; based on <a href='https://anthology.rhizome.org/my-boyfriend-came-back-from-the-war'><i>My Boyfriend Came Back from the War</i></a>."
	lang="#html #css"
	mobile="false"
%}{%include shriblet.html
	title="shriblets2"
	date="2021-05-13"
	desc="A recode of this page, since I thought it deserved its own layout; implemented same day. Images via <a href='https://placeholder.com'>placeholder.com</a>."
	lang="#html #css"
	mobile="true"
%}<article><!--plus sign strikes again-->
	<figure><a href="{{site.url}}/shriblets/2021-10-0304-tracklist"><img src="{{site.url}}/shriblets/img/2021-10-0304-tracklist.jpg" alt=""></a></figure>
	<div class="info">
		<h2><a href="{{site.url}}/shriblets/2021-10-0304-tracklist">tracklist</a></h2> <span class="date">2021-10-03+04</span>
		<p>Character song page; doubles as an attempt to use dynamic/responsive text over an image. Probably looks weird on old browsers.</p>
		<aside><ul>
			<li>lang = #html #css;</li>
			<li>isResponsive = true;</li>
		</ul></aside>
</div></article>{%include shriblet.html
	title="rabbithole"
	date="2021-12-24"
	desc="Self-explanatory, as far as it can be explained."
	lang="aftereffects??"
	mobile="iGuess"
%}{%include shriblet.html
	title="tenyears"
	date="2021-12-28"
	desc="Ten years of (deviant)Art, plus copious rambling."
	lang="#html #css"
	mobile="true"
%}<article><!--plus-->
	<figure><a href="{{site.url}}/shriblets/2022-04-1617-draggable"><img src="{{site.url}}/shriblets/img/2022-04-1617-draggable.jpg" alt=""></a></figure>
	<div class="info">
		<h2><a href="{{site.url}}/shriblets/2022-04-1617-draggable">draggable</a></h2> <span class="date">2022-04-16+17</span>
		<p>Revisiting the 2018 height chart (see above), now with lots more people and entirely different base code. (Functionally much simpler, but characters don’t overlap on pageload.) Image rescaling might be weird on some browsers.</p>
		<aside><ul>
			<li>lang = #html-svg #js;</li>
			<li>isResponsive = questionable;</li>
		</ul></aside>
</div></article><article><!--plus-->
	<figure><a href="{{site.url}}/shriblets/2022-09-1920-3d"><img src="{{site.url}}/shriblets/img/2022-09-1920-3d.jpg" alt=""></a></figure>
	<div class="info">
		<h2><a href="{{site.url}}/shriblets/2022-09-1920-3d">sawfaceRedeux.blend</a></h2> <span class="date">2022-09-19+20</span>
		<p>Made a 3D model, rambled about it.</p>
		<aside><ul>
			<li>lang = #html #css;</li>
			<li>isResponsive = true;</li>
		</ul></aside>
</div></article><!--THERE IS OTHER RANDOM CRAP sporadically in my files; recently it's been rp-related and will probably not be uploaded, but like check the ygbtdm and omori folders. there's test stuff around there somewhere-->{%include shriblet.html
	title="talksprites"
	date="2024-09-10"
	desc="Plain-’n-simple attempt to use page-specific data to generate talksprites. The meat is in the backend; didn’t bother prettying up the results."
	lang="#jekyll"
	mobile="true"
%}