---
layout: none
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--<title></title> i genuinely do not know what to title this page so for now the url will suffice-->
	
	<link rel="stylesheet" type="text/css" href="css.css"/>
	<link rel="stylesheet" type="text/css" href="{{site.url}}/assets/fonts/lato.css"/>
</head>

<body>
	<header>
		<h1>wow! characters</h1>
		<!--nav goes here or wherever-->
	</header>
	<main>
		<section id="info">
			<h2>about</h2><!--this whole thing can be in a separate page ("index" as a "launch" page? man THAT'S a throwback) but for the sake of Getting Content In it'll just be here for now. may or may not revise for formality later but I think the rambly, casual tone here fits the "canon what canon" thing-->
			
			<h3>who are these people</h3>
			<p>characters who I’m not doing anything with wheeeee</p>
			
			<h3>why “cmyk”</h3>
			<p>“cmyk” is what the folder on my computer is called, because at some point in ~2018 I thought it’d be cool to give them that sort of color theming. it didn’t really Stick (<a href="https://en.wikipedia.org/wiki/CMYK_color_model">the technicalities of print colors</a> have basically nothing to do with anyone’s story) but it’s considerably shorter than “<a href="https://www.deviantart.com/a-flyleaf/gallery?q=%23disasterduo">disaster duo</a> <a href="https://www.deviantart.com/a-flyleaf/gallery?q=%23disasterduoandpals">(and pals)</a>”</p>
			
			<h3>what is the Lore</h3>
			<p>basically I had this duo who I wanted to flesh out more, and in the process of overhauling their backstories I ended up with this entire litle cast. floated around a few ideas for what to <em>do</em> with them all, in terms of making A Single Interconnected Canonical Story, but nothing really Stuck and my interest wandered. so now they are in this weird sort of limbo where they’re very much interconnected, but thaaaat’s about it. it’s entirely possible a story or two will be branched off and/or recycled for other projects whenever.</p>
			<p>still, the dubious canonicity makes them great for little one-off things like this! so here we are.</p>
			
			<h3>no, but like, what’s the <em>in-world</em> lore</h3>
			<ul><li>the years “2012” and “2017” refer to an in-story timeline, <em>not</em> real-life years</li>
			<li>everything else should be considered a puzzle piece for you to put together however you want, for lack of Solidly Defined Canon</li>
			</ul>
			
			<h3>are these Original Characters Do Not Steal™?</h3>
			<p>yes and no. yes: they sure are characters, and we can have a long and interesting conversation about what differentiates an “OC” from Just A Character. no: Nico and Ivy started out as pokémon people so jot that down,</p>
			<p>also originality is overrated, everything is derivative; if something about these guys speaks to you and you wanna make a recolor or “steal” what details I’ve provided, <em>go for it!</em> your version’s yours, mine is mine, and while I’d appreciate credit for whatever you’re drawing from (especially if someone asks, and/or you try to pass it off as 100% Yours), that’s just a matter of creative honesty imo.</p>
			<p>in other words, if you happen to have a character that looks and/or is written really really <em>really</em> similar to mine… that’s cool with me, man. keep doin’ your thing 👍</p>
			
			<h3>can I draw them?</h3>
			<p>-takes a deep breath-</p>
			<p><strong><em>Yes.</em></strong></p>
			<p>you do not need to ask and you do not need to show me (although chances are I’d love to see it anyway, <em>wink wink nudge nudge</em>). there are design notes provided both via image and writing, but unless I’m specifically requesting this art from you (in a commission or trade or something), don’t even worry about it. I just like to overthink the little details ;V</p>
			
			<h3>do these laissez-faire ideas about originality and drawing “permissions” apply to <em>all</em> your creative work?</h3>
			<p>hell yeah dude!!!!</p>
		</section>
		
		<section id="cards">
			<h2>the losers</h2>
			<!--main image designed for 360x640, gallery 150px square. there are limited "gallery" images + notes for a Reason; these are overviews, not whole-ass bios. song/voice stuff should have links right here in the include-->
			<!--don't forget about fancybox!! image code will probably have to be tweaked for that-->
			
			<!--
			there has Got to be a more elegant way to handle the 2012/17 distinction; use color? not accessible but that's where the x class comes in. also if any doodles convey what the notes say then drop the note
			pronoun bit prooobably isn't necessary on account of longer descriptions; use the space that clears up to distinguish 2012/7 better?
			skipping voiceclaims for now
			wrt years: just use birth years? although timeframe+birthdays are fluky. maybe just skip it; context tells ya Enough
			actually yeah on further thought you can nuke the whole stat section. heights are over on the chart, which can be linked in some "related pages" section at the bottom-->
			{%include cmyk.html
				nm="ns"
				fullname="Nico Sylvester"
				age="13 (2012), 19 (2017)"
				hem="he/him"
				height="5'00&quot; (2012), 5'05&quot; (2017)"
				summary="half of the “disaster duo.” former adventure kid, current depressed shut-in."
				note1="2012: gregarious, showy with a troublemaking streak, had anger issues.<br>2017: pretty much #done with life, occasional jokester, still has anger issues."
				note2="it all started when his parents divorced…"
				note3="he and Tara used to prank call the scam lines and talk local delivery services into <a href='https://knowyourmeme.com/memes/updog'>“updog”s</a>. nowadays his idea of fun is when he can get the kids in <a href='https://en.wikipedia.org/wiki/Call_of_Duty'>CoD</a> to stop screaming profanities for two seconds, whenever he has the patience to deal (or isn’t joining them)."
				note4="once wanted to be a lifeguard; almost drowned on the first attempted rescue. plays a mean “Wonderwall,” and enjoys karaoke night at the local bar."
				design="house-shaped pentagon, but upside-down and with the tip cut off. is red-green colorblind but used to wear those colors a lot. by 2017, showers once every few weeks."
				song="“Don’t Mess With Me” Temposhark (2012); “Everybody Gets High” Missio (2013+); “Monster” Imagine Dragons (general); “Polarize” Twenty-One Pilots (general); “Snakes” Bastille (2017); “Violence” The Unlikely Candidates (2017)"
				voice="wow a voice"
			%}{%include cmyk.html
				nm="ir"
				fullname="Ivy Espinosa-Rodriguez"
				age="16 (2012), 22 (2017)"
				hem="she/her"
				height="5'07&quot;?"
				summary="half of the “disaster duo.” begrudging waitress by day, more enthusiastic music-mixer by night, and responsible 24/7 for Nico’s will to live."
				note1="2012: withdrawn, albeit not entirely by choice; never seen without trusted dog Buddy.<br>2017: has taught herself how to be a functional human being, and really really <em>really</em> wants Nico to do the same. (he doesn’t appreciate it much.)"
				note2="could go the rest of her life without seeing another lonely man’s grimy apartment. has always followed a social script and does not like deviation."
				note3="legal first name is <i>Ana</i> but privately went by “Ivy” as a kid. Nico still uses it and she thinks that’s sweet."
				note4="met Tara over unpopular opinions about anime, most of which she still remembers (despite herself). listens to murder mysteries in the car, all of which are blissfully easier to solve than Nico’s neverending mental health crises."
				design="oval. in 2017, has a (small, heavily-covered) scar down her lower lip, and (less-covered, outside work) tattoos around her wrists and at the clavicle."
				song="“Sleepsong” Bastille (2012); “Desperado” Rihanna (2014/5); “Pin” Grimes (general) [link the cover]"
				voice="wow a voice"
			%}
			
			<!--idk what to do with this formatting-wise but wanted to throw it in anyway-->
			<p>+songs for the duo: “Bitter and Sick” One Two, “No Children” The Mountain Goats, “Freaking Out” Mystery Skulls</p>
			
			{%include cmyk.html
				nm="tc"
				fullname="Tara Caine"
				age="15"
				hem="she/her"
				height="6'04&quot;?"
				summary="Nico’s best friend, “autism sister” to the kid later known as Vexus, and general chill teen trying not to freak out about college or life or her friends’ crises or whatever."
				note1="towers over most people, which is awkward, but tries to play nice with everyone. evidently had some issues that weren’t being addressed."
				note2="always let her sibling win at video games; tried to beat Nico, but rarely succeeded. usually heard in the background of Nico’s vines saying some variation of “dude, don’t do it” while filming and laughing."
				note3="voted MVP of the local robotics club, dubbed by Nico “the nerdiest nerd of all the nerds” (playfully derogatory)."
				note4="met Ava before she (Tara) went missing in late 2012; eventually presumed dead by suicide."
				design="vaguely crescent, <em>super</em> lanky. side-shave was getting a “test run” in 2012. probably could’ve kept growing. wore an hourglass necklace."
				song="“Creep” Radiohead (Amanda Palmer cover); “Hollow” Cloudeater; “I Feel Like I’m Drowning” Two Feet"
				voice="wow a voice"
			%}{%include cmyk.html
				nm="af"
				fullname="Ava Fleischer"
				age="15"
				hem="she/her"
				height="4'06&quot;?"
				summary="random little girl in a creepy-ass mansion in the middle of the woods, what could possibly go wrong? story status uncertain, but might be a ghost in 2017."
				note1="tends to come off as a charming little girl scout with a knife behind her back, an impression she exploits for fun—minus knife, although she <em>does</em> love taxidermy and is happy to elaborate. big motormouth tendencies."
				note2="one grandfather taught her how to skin a squirrel and the other read classic novels as bedtime stories. they made some <em>mistakes</em> with her dad; but far as Ava’s concerned, they got an A+ this round."
				note3="probably died in 2012—although there are other versions of the story where she’s still around in her 20s. here she’s made a little name for herself in the local gay bar, in which she drinks absolutely nothing, listens to almost everyone for however long they talk, and advises people on becoming their best selves. in this AU-version-concept-thign she’s friends with <a href='../shriblets/2019-05-wiki'>Flynn</a> and later Nico."
				note4="has no wifi at home and acts technologically illiterate when convenient. plays a mean, vulgar game of <a href='https://en.wikipedia.org/wiki/Cards_Against_Humanity'>cards against humanity</a>, all with a straight face if she wants to."
				design="rounded hourglass. initial default outfit was green, currently brown instead; does not dress super modern/trendy regardless. <b>Important:</b> has a prosthetic right (viewer’s left) foot, which may look jarringly mechanical/sleek/modern; this dissonance is intentional."
				song="“Swing You Sinners” Fleischer Studios; “Pavlov’s Daughter” Regina Spektor"
				voice="wow a voice"
			%}{%include cmyk.html
				nm="vc"
				fullname="Vexus Caine"
				age="13 (2017)"
				hem="he/him"
				height="4'04&quot;?"
				summary="smad little dude. Tara’s sibling, best friend of Levi’s."
				note1="selectively mute (not deaf), which applies to 99%* of situations; to avoid people making a fuss over it, avoids everyone wholesale. (*the 1% was for family only. it’s essentially 0% nowadays.) doesn’t go out of his way to be a jerk, usually."
				note2="sister’s dead, shit sucks, moved house, outta luck; now what? story status somewhat uncertain, but may involve revisiting Tara’s old friends (Nico & Ivy) and dealing with his <em>new</em> friend Levi."
				note3="possibly vaguely aware of Dodder, if the latter stays relevant, in a “stop using my dead sister for your stupid culty self-help bullshit” way."
				note4="used to have a long-wanted kitten, but let her out by accident and never saw her alive again. keeps at least one venus flytrap in his room, which is the only place in the new house with evidence of Tara’s existence on display."
				design="rounded octagon. bulky vests, big sweaters, heavy boots; shielded, even in summer. wears Tara’s hourglass necklace (which is now cracked), usually tucked in his outer clothing."
				song="“Good Grief” Bastille"
				voice="wow a voice"
			%}{%include cmyk.html
				nm="ld"
				fullname="Levi d’Angelo"
				age="15"
				hem="he/him & she/her (alternate whenever)"
				height="5'05&quot;?"
				summary="Vexus’ bestest best buddy pal bestie in the whole wide world, which makes Vexus a very lucky guy."
				note1="horrifically underappreciated, in her own opinion; doesn’t bother with most people. often mistaken for a quiet, shy nerd; they misunderstand her motive."
				note2="his kid-baby siblings drive him up a wall but he patiently takes care of them anyway, like a good obedient child who doesn’t deserve to be yelled at. <em>hates</em> sucking up to adults like this, but desperate times…"
				note3="may already know Vexus when $story starts, or their meeting is some type of catalyst. after Vexus played hooky, Levi assumed Vexus had the rebel credentials he <em>looks</em> like he has, and introduced herself. alas, some first impressions are not meant to be."
				note4="wants to be a dentist when he grows up, because these damn dentists didn’t do his teeth right and he’s gonna show them how it’s done. med school sounds like a pain in the ass, though; he just wants to get scum-scraping."
				design="A Nerd™; glasses and braces are key, everything else not so much. probably goes for tighter clothing. would follow the trends if she had the budget but all she’s got are these shitty hand-me-downs fuck the mainstream actually."
				song="“Hyperdontia” & “Novocaine” Ghost-P; “Hate It! Hate It! Huge Ego!” Kurage-P; “Good Time Girl” Sofi Tukker; “Everybody Likes You” Lemon Demon"
				voice="wow a voice"
			%}{%include cmyk.html
				nm="ch"
				fullname="Conor “Dodder” Haus"
				age="late 40s (2012), mid-50s (2017)"
				hem="he/him"
				height="6'00&quot;?"
				summary="charming head of independent investigations, whether as interrogator in a missing person case or (five years later) self-help guru with a near-death testimony."
				note1="could sell ethics to the president. romanticizes romanticism, and prides himself on tendency to make the most miserable people smile."
				note2="high school football sweetheart, still riding that high. has changed lives in the span of a night, and had his own transformed in 2013 upon falling into a multi-year coma."
				note3="once made a college documentary about a local gated community he considered a cult. long-term story relation to the other characters is shaky at best, but he definitely had a heavy influence on at least one of them."
				note4="nickname “Dodder” was originally derogatory, given “clingy” nature and stringy yellow hair. has since embraced it for sheer irony."
				design="built on abrupt curves and zigzags. lost significant weight between 2012 and 2017; haggard 2017 appearance is (in-character) intentional, somewhat manufactured."
				song="[doesn’t have any songs, to memory]"
				voice="wow a voice"
			%}
		</section>
		
		<section id="links">
			<h3>relevant links</h3>
			<!--doesn't have to be a list but please don't make this look like an obnoxious "MORE YOU MIGHT LIKE" section. text-only is fine.-->
			<ul>
				<!--at some point it wouldn't hurt to back up/copy over the tumblr tag but AUGH-->
				<li><a href="{{site.url}}/shriblets/2018-08-heighthell">2018 height chart</a>; <a href="{{site.url}}/shriblets/2022-04-1617-draggable">revisited in 2022</a>*</li>
				<li><a href="{{site.url}}/shriblets/2018-12-14-headshots">2018 headshots</a>*</li>
				<li><a href="{{site.url}}/shriblets/2021-04-29-split">2021 HTML experiment</a></li>
				<li>deviantART tags: <a href="https://www.deviantart.com/a-flyleaf/gallery?q=%23disasterduo">just the disaster duo</a> + <a href="https://www.deviantart.com/a-flyleaf/gallery?q=%23disasterduoandpals">everyone else</a> (pardon the overlap)</li>
			</ul>
			<p>*includes unrelated characters</p>
		</section>
	</main>
	<footer>
		<h2>changelog</h2>
		<ul><li>July 2–3, 2021: character writing, presumably original code</li>
		<li>May 13, 2022: fonts relinked via <a href="https://google-webfonts-helper.herokuapp.com/fonts/lato?subsets=latin">google-webfonts-helper</a>; copied to a new repository for further editing, leaving this mostly untouched for posterity</li></ul>
	</footer>
</body>
</html>