*{margin:0; padding:0; box-sizing:border-box; font-size:100%;}
body{overflow-x:hidden; word-wrap:break-word;}
header,main,section,footer{display:block;}
.x{position:absolute; left:-999px; width:1px; height:1px; top:auto; overflow:hidden;}