---
layout: none
permalink: 2026-07-04-vn
title: web-based visual novel proof of concept thign

bg: testbg20

script:
  - id: 1
    chr: luc
    sprite: [e-huh,m-sideopen,al-out,ar-fold]
    alt: "Lucien is unamused. Slightly baffled."
    dlg: |-
      damn.
      
      you live like this?
    opt:
      - to: 2
        dlg: Um...
      - to: 3
        dlg: So do you!
  - id: 2
    chr: luc
    sprite: [e-huh,m-frown,al-out,ar-fold]
    alt: ""
    dlg: |-
      ...
  - id: 3
    chr: luc
    sprite: [e-wtf,m-frown,al-hip,ar-down]
    alt: "Lucien looks taken aback."

footer: |-
  - background cobbled together from the following photos: [destroyed room in building](https://www.pexels.com/photo/destroyed-room-in-building-9681769/), [abandoned house old](https://pixabay.com/photos/abandoned-house-old-broken-vintage-1932189/), [abandoned workplace](https://www.pexels.com/photo/photo-of-an-abandoned-workspace-3359003/), [old damaged house with stack of dirty bags](https://www.pexels.com/photo/old-damaged-house-with-stack-of-dirty-bags-5686506/)
  - art & code by [a-flyleaf](https://a-flyleaf.github.io/)

---
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{{page.title}}</title>
	<link rel="stylesheet" type="text/css" href="{%include actual.html%}css.css">
</head><body>
	<header class="x"><h1>{{page.title}}</h1></header>
	
	<div id="notice">If you’re seeing this, your browser does <b>not</b> support <a href="https://caniuse.com/viewport-units">viewport units</a>. Everything should still work, but may appear strange.</div>
	
	<hr class="x">
	
	<main style="background-image:url({%include actual.html%}img/{{page.bg}}.jpg);">{%for p in page.script%}
		<section id="p{{p.id}}">{%if p.dlg%}
			<div class="dlg txt {{p.chr}}"><div class="wrap">
				<div class="who"><b class="ui">{%if p.chr=="luc"%}Lucien{%endif%}</b><span class="x">:</span></div>
				{{p.dlg|markdownify|replace:"<p>","<p><span class='ui'>"|replace:"</p>","</span></p>"}}
			</div></div>{%endif%}{%if p.alt!=""%}<span class="x">{{p.alt|prepend:"["|append:"]"}}</span>{%endif%}{%if p.chr%}
			<div class="chr"><!--All That Bullshit and i can just use the fuckin sprite base without sticking an actual image in. rip || <img src="{%include actual.html%}img/spr/base.png" alt="">--><div class="spr" style="background-image:url({%include actual.html%}img/spr/base.png);"></div><!--<div class="spr" style="background-image:url({%include actual.html%}img/test.png);"></div>-->{%for s in p.sprite%}<div class="spr" style="background-image:url({%include actual.html%}img/spr/{{s}}.png);"></div>{%endfor%}</div>{%endif%}{%if p.opt%}
			<ul class="opt txt"><div class="wrap">{%for o in p.opt%}<li><a href="#p{{o.to}}">{{o.dlg|markdownify}}</a></li>{%endfor%}</div></ul>{%endif%}</section>
	{%unless forloop.last%}<hr class="x">{%endunless%}{%endfor%}</main>
	
	<hr class="x">
	
	<footer>{{page.footer|markdownify}}</footer>
</body>
</html>